.slider-main-item-container {
  text-decoration: none;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.each-slider-item {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  text-align: center;
  list-style-type: none;
  padding: 0px;
  margin: 0px;

  @media (min-width: 768px) {
    height: 100%;
  }
}

.t-rated-book {
  border-radius: 5px;
  @media (min-width: 320px) {
    width: 90%;
    height: 130px;
  }

  @media (min-width: 768px) {
    width: 90%;
    height: 200px;
  }

  @media (min-width: 1024px) {
    width: 85%;
    height: 300px;
  }
}

.t-rated-heading {
  font-size: 13px;
  font-weight: 700;
  font-family: 'Roboto';
  color: black;
  margin: 0px;
  margin: 5px;
  @media (min-width: 768px) {
    font-size: 15px;
  }

  @media (min-width: 1024px) {
    font-size: 22px;
  }
}

.t-rated-para {
  font-size: 12px;
  font-weight: 500;
  font-family: 'Roboto';
  margin: 0px;
  color: gray;

  @media (min-width: 1024px) {
    font-size: 20px;
  }
}
