.bookshelves-main-container {
  width: 100vw;
  height: 100vh;
}

.bookshelf-inner-container {
  width: 100vw;
  height: 92vh;
  background-color: #f5f7fa;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    padding-top: 10px;
  }
}

.shelf-fist-container {
  display: block;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 100vw;
  height: 30%;

  @media (min-width: 768px) {
    display: none;
  }
}

.bookShelves-md-options-container {
  display: none;

  @media (min-width: 768px) {
    display: block;
    width: 20%;
    background-color: white;
    padding: 10px;
  }
}

.shelf-input-container {
  width: 80%;
  border: 1px solid grey;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  background-color: #f5f7fa;

  @media (min-width: 768px) {
    width: 40%;
    margin-bottom: 0px;
  }
}

.inputEl {
  font-size: 15px;
  font-weight: 500;
  font-family: 'Roboto';
  padding: 8px;
  border: 0px;
  width: 80%;
  outline: none;
  border-radius: 5px;
  background-color: white;
  color: black;
}

.search-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 100%;
  font-size: 20px;
  border: 0px;
  cursor: pointer;
  padding: 0px;
  cursor: pointer;
  background-color: transparent;
}

.search-icon {
  width: 25px;
  font-weight: bold;
  color: black;
}

.shelf-heading {
  margin: 0px;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Roboto';
  padding: 0px;
  margin: 0px;
}

.shelf-options-container {
  padding: 0px;
  width: 90%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
}

.shelf-options-md-container {
  padding: 0px;
  width: 100%;
  list-style-type: none;
}

.shelf-second-container {
  width: 99vw;
  height: 70%;

  @media (min-width: 768px) {
    width: 75vw;
    height: 80vh;
  }
}

.render-success-container-shelf {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-y: scroll;

  @media (min-width: 768px) {
    padding: 10px;
    height: 90%;
  }
}

.each-book-item-container {
  list-style-type: none;
  padding: 0px;
  min-height: 60%;
  padding: 10px;

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 10px;
  }
}

.shelf-footer-container {
  display: block;
  width: 100vw;
  @media (min-width: 768px) {
    display: none;
  }
}

.shelf-footer-md-container {
  display: none;

  @media (min-width: 768px) {
    display: block;
  }
}

.search-md-container {
  display: none;

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 99%;
    margin: 5px;
  }
}

.all-books {
  margin: 0px;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Roboto';
  padding: 0px;
}

.fail-img-container {
  width: 90%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.retry {
  font-size: 15px;
  font-weight: 500;
  font-family: 'Roboto';
  cursor: pointer;
  border: 0px;
  color: white;
  border-radius: 5px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #387ebe;
}

.no-result-container {
  font-size: 20px;
  font-weight: 500;

  width: 90%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  @media (min-width: 768px) {
    height: 93%;
  }
}

.loader-container {
  @media (min-width: 768px) {
    height: 93%;
  }
}

.bookshelves-heading {
  @media (min-width: 768px) {
    font-size: 18px;
  }
}

.bookshel-fail-img-container {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bookshelf-loader-container {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
